.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}
.content__catalog {
  display: flex;
  flex-direction: column;
  align-content: center;

  text-align: center;
  margin-bottom: 20px;
}
.polka {
  width: 100%; /* Длина полосы — вся ширина контейнера */
  height: 1px; /* Толщина полосы */
  background-color: #080808; /* Цвет полосы */
  margin: 20px 0;
}

h3 {
  margin: 0 10px 0 0;
  font-weight: 600;
  color: #4a90e2; // синий цвет
}

// Радиокнопки и подписи
label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: #555;
  font-size: 20px;

  input[type="radio"] {
    margin-right: 8px;
    accent-color: #e94e77; // цвет выделения радиокнопки
  }

  &:hover {
    color: #e94e77; // цвет при наведении
  }
}

// Выпадающий список
select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #4a90e2;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  cursor: pointer;

  &:hover {
    border-color: #e94e77;
  }
}

// Вывод выбранной категории
p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #2e7d32; // зеленый цвет
}
